<!DOCTYPE html>
<html>
<body>
#ts {
	background-color:#dbdbdb;
}

<div id="ts">
<h1 style="font-family: 'Brush Script MT', cursive; font-style: italic; text-align: center;"> The Harlow Investmentorship </h1>
</div>
<p> The way out </p>
</body>
</html>