<!DOCTYPE html>
<html>
<style>
#ts {
	background-color:#dbdbdb;
}
</style>
<body>


<div id="ts">
<h1 style="font-family: 'Brush Script MT', cursive; font-style: italic; text-align: center;"> The Harlow Investmentorship </h1>
</div>
<p> The way out </p>
</body>
</html>